/bin/
/target/
.classpath
test-output/
.settings/
ExtentReports/
screenshots/
allure-results/
.idea/
.project
src/main/java/utils/Listeners/FailRepoterListener.java
src/main/java/utils/Listeners/JunitReporterListener.java
src/main/java/utils/Listeners/ReporterListener.java
src/main/java/utils/Listeners/ResultListener.java
src/main/java/utils/Listeners/SuitReporterListener.java
src/main/java/utils/Listeners/TestHTMLReportListener.java
src/main/java/utils/Listeners/XmlReporterListener.java
src/main/java/vantagecrm/Ipages/
src/main/java/vantagecrm/pages/IBTpage.java
src/main/java/vantagecrm/pages/testclass.java
.DS_Store
JacocoResults/